@import './lib/_reset.scss';

body {
    background-color: $main-color;
    background-image: url(./assets/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    /*width: auto;*/
    /*height: 275px;*/
    max-width: 1440px;

    

    /* import */
 
 

    footer {
        width: 100%;
        background-color: #353535;
        padding: 22px 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        #section-titre {
            width: 100%;
            height: auto;
            padding-bottom: 16px;

            h1 {
                color: #FFFFFF;
                font-family: Shrikhand;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        #section-text {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            a {
                text-decoration: none;
                margin-bottom: 10px;

                .fa-utensils {
                    padding-right: 10px;
                }

                .fa-handshake-angle {
                    padding-right: 5px;
                }
            }

            .font-size-1 {
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .font-size-2 {
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }
}

// MEDIA 768px //
@media (min-width: 768px) {

    body {
        margin: auto;
        max-width: unset;

       /* import 768*/

        // FOOTER //
        footer {
            width: 100%;
            background-color: #353535;
            padding: 22px 25px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            #section-titre {
                height: 30px;
                padding-bottom: 0;
                order: 2;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                margin-right: 20px;

                h1 {
                    color: #FFFFFF;
                    font-family: Shrikhand;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            #section-text {
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                order: 1;
                width: auto;

                a {
                    text-decoration: none;
                    margin-bottom: 0;
                    margin-right: 20px;

                    .fa-utensils {
                        padding-right: 10px;
                    }

                    .fa-handshake-angle {
                        padding-right: 5px;
                    }
                }

                .font-size-1 {
                    color: #FFFFFF;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .font-size-2 {
                    color: #FFFFFF;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

        }
    }

}

