

footer {
    background-color: $Grey-text;
    color: $white;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 0;
        padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: 'Shrikhand';
        font-size: 18px;
        font-weight: 400;
        line-height: 26.24px;
    }

    p {
        margin: 0;
        padding-left: 25px;
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;

        a {
            color: $white;

            .fa-utensils {
                padding-right: 10px;
            }

            .fa-handshake-angle {
                padding-right: 5px;
            }
        }

        &.contact {
            padding-bottom: 25px;
        }
    }
}

@media screen and (min-width: 769px) {
    footer {
        flex-direction: row;
        justify-content: flex-end;
        height: 114px;

        h2 {
            width: 20%;
            order: 2;
            padding-bottom: 30px;
            padding-top: 60px;
            text-align: center;
        }

        p {
            order: 1;
            padding-top: 25px;
            padding-bottom: 30px;
            padding-top: 62px;
        }
    }
}