* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}
body h2 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-wrap: wrap;
  margin: 0px 0px;
}
body .color-1 {
  color: #353535;
}
body header {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body header img {
  width: 197px;
  height: 36px;
  margin: 14px;
}
body header button {
  background-color: #EAEAEA;
  border-left: 0px;
  border-top: 3px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: rgb(165, 165, 165);
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  color: #353535;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body header i {
  color: #353535;
  padding-right: 17px;
}
body main {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}
body main #section-hero {
  width: 100%;
  height: 200px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main #section-hero p {
  margin: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body main #section-hero button {
  border-radius: 25px;
  border: 0px;
  width: 218;
  height: 50px;
  text-size-adjust: auto;
  padding: 5px 20px;
  color: var(--White, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-image: -webkit-linear-gradient(top, #FF79DA, #9356DC);
  cursor: pointer;
}
body main #section-fonctionnement {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  padding: 0px;
  padding-top: 40px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main #section-fonctionnement h2 {
  margin-bottom: 20px;
}
body main #section-fonctionnement nav {
  width: 100%;
  height: 150px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body main #section-fonctionnement nav button {
  border-radius: 20px;
  border: 0px;
  width: 322px;
  height: 72px;
  margin-bottom: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  text-size-adjust: auto;
  padding-left: 45px;
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 5px;
  color: black;
  text-align: left;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
body main #section-fonctionnement nav button i {
  margin-right: 10px;
}
body main #section-fonctionnement nav button div {
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}
body main #section-fonctionnement nav button p {
  width: auto;
  height: auto;
  /*border: 1px solid red;*/
}
body main #section-restaurants {
  width: 100%;
  height: auto;
  padding: 0px;
  padding-top: 40px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main #section-restaurants a {
  width: 89%;
  height: 320px;
  margin-bottom: 18px;
  background-color: #FFFFFF;
  border-radius: 15px;
  cursor: pointer;
  /*border: 1px solid red;*/
}
body main #section-restaurants a article {
  width: 100%;
  height: 320px;
  background-color: #FFFFFF;
  border-radius: 15px;
  border: 1px solid red;
}
body main #section-restaurants a article img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/*# sourceMappingURL=style.css.map */
